a {
  color: #fff; }

a.link, span.link, label.link {
  color: #333;
  cursor: pointer; }

a:hover, a:active, a:focus {
  text-decoration: none;
  opacity: 0.5; }

.nav-tabs > li > a {
  font-size: 18px;
  color: #333;
  background: none !important; }

.nav-tabs > li > a:hover, .nav-tabs > li > a:active, .nav-tabs > li > a:focus {
  opacity: 1; }

.nav-tabs li.active a, .nav-tabs li.active a:focus, .nav-tabs li.active a:hover, .nav-tabs li.active a:active {
  font-size: 18px;
  text-decoration: underline;
  background: #333;
  color: #fff; }

.no-js #loader {
  display: none; }

.js #loader {
  display: block;
  position: absolute;
  left: 100px;
  top: 0; }

.se-pre-con {
  display: none;
  position: fixed;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  z-index: 9999;
  background: url(../images/Preloader_2.gif) center no-repeat #fff; }

.btn {
  font-size: 18px; }

.form-control {
  font-size: 18px;
  height: 38px; }

.table > thead > tr > th {
  border-bottom: none; }

.table tbody {
  border-left: 1px solid #ccc;
  border-right: 1px solid #ccc; }

.table tbody tr:last-child {
  border-bottom: 1px solid #ccc; }

.table-none-border > tbody > tr > td, .table-none-border > tbody > tr > th, .table-none-border > tfoot > tr > td, .table-none-border > tfoot > tr > th, .table-none-border > thead > tr > td, .table-none-border > thead > tr > th {
  border-top: none; }

.table-form > tbody > tr > td, .table-form > tbody > tr > th, .table-form > tfoot > tr > td, .table-form > tfoot > tr > th, .table-form > thead > tr > td, .table-form > thead > tr > th {
  border: none; }

.table-form tbody {
  border-left: none;
  border-right: none; }
  .table-form tbody tr:last-child {
    border-bottom: none; }

.table-border > tbody > tr > td, .table-border > tbody > tr > th, .table-border > tfoot > tr > td, .table-border > tfoot > tr > th, .table-border > thead > tr > td, .table-border > thead > tr > th {
  border: 1px solid #ccc; }

.table-fixed {
  table-layout: fixed; }

.sub-table {
  margin: 0;
  overflow: scroll; }
  .sub-table .table-border > tbody > tr > td, .sub-table .table-border > tbody > tr > th, .sub-table .table-border > tfoot > tr > td, .sub-table .table-border > tfoot > tr > th, .sub-table .table-border > thead > tr > td, .sub-table .table-border > thead > tr > th {
    border-top: none; }
  .sub-table table {
    margin-bottom: 0; }
    .sub-table table th, .sub-table table td {
      text-align: center; }

/* Radio Buttons
   ========================================================================== */
[type="radio"].mtl:not(:checked),
[type="radio"].mtl:checked {
  position: absolute;
  left: -9999px;
  width: 0;
  height: 0;
  opacity: 0; }

[type="radio"].mtl:not(:checked) + label,
[type="radio"].mtl:checked + label {
  position: relative;
  padding-left: 25px;
  cursor: pointer;
  display: inline-block;
  height: 25px;
  line-height: 25px;
  transition: .28s ease;
  -khtml-user-select: none;
  /* webkit (konqueror) browsers */
  user-select: none; }

[type="radio"].mtl + label:before,
[type="radio"].mtl + label:after {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  margin: 4px;
  width: 16px;
  height: 16px;
  z-index: 0;
  transition: .28s ease; }

/* Unchecked styles */
[type="radio"].mtl:not(:checked) + label:before,
[type="radio"].mtl:not(:checked) + label:after,
[type="radio"].mtl:checked + label:before,
[type="radio"].mtl:checked + label:after,
[type="radio"].mtl.with-gap:checked + label:before,
[type="radio"].mtl.with-gap:checked + label:after {
  border-radius: 50%; }

[type="radio"].mtl:not(:checked) + label:before,
[type="radio"].mtl:not(:checked) + label:after {
  border: 2px solid #aaa; }

[type="radio"].mtl:not(:checked) + label:after {
  transform: scale(0); }

/* Checked styles */
[type="radio"].mtl:checked + label:before {
  border: 2px solid transparent; }

[type="radio"].mtl:checked + label:after,
[type="radio"].mtl.with-gap:checked + label:before,
[type="radio"].mtl.with-gap:checked + label:after {
  border: 2px solid #50b026; }

[type="radio"].mtl:checked + label:after,
[type="radio"].mtl.with-gap:checked + label:after {
  background-color: #50b026; }

[type="radio"].mtl:checked + label:after {
  transform: scale(1.02); }

/* Radio With gap */
[type="radio"].mtl.with-gap:checked + label:after {
  transform: scale(0.5); }

/* Focused styles */
[type="radio"].mtl.tabbed:focus + label:before {
  box-shadow: 0 0 0 10px rgba(0, 0, 0, 0.1); }

/* Disabled Radio With gap */
[type="radio"].mtl.with-gap:disabled:checked + label:before {
  border: 2px solid #ccc; }

[type="radio"].mtl.with-gap:disabled:checked + label:after {
  border: none;
  background-color: #ccc; }

/* Disabled style */
[type="radio"].mtl:disabled:not(:checked) + label:before,
[type="radio"].mtl:disabled:checked + label:before {
  background-color: transparent;
  border-color: #ccc; }

[type="radio"].mtl:disabled + label {
  color: #ccc; }

[type="radio"].mtl:disabled:not(:checked) + label:before {
  border-color: #ccc; }

[type="radio"].mtl:disabled:checked + label:after {
  background-color: #ccc;
  border-color: #ccc; }

/* Checkboxes
   ========================================================================== */
/* CUSTOM CSS CHECKBOXES */
form p {
  margin-bottom: 10px;
  text-align: left; }

form p:last-child {
  margin-bottom: 0; }

/* Remove default checkbox */
[type="checkbox"].mtl:not(:checked),
[type="checkbox"].mtl:checked {
  position: absolute;
  left: -9999px;
  width: 0;
  height: 0;
  opacity: 0; }

[type="checkbox"].mtl {
  /* checkbox aspect */ }
  [type="checkbox"].mtl + label {
    position: relative;
    padding-left: 35px;
    cursor: pointer;
    display: inline-block;
    height: 25px;
    line-height: 25px;
    -webkit-user-select: none;
    /* webkit (safari, chrome) browsers */
    -moz-user-select: none;
    /* mozilla browsers */
    -khtml-user-select: none;
    /* webkit (konqueror) browsers */
    -ms-user-select: none;
    /* IE10+ */ }
  [type="checkbox"].mtl + label:before,
  [type="checkbox"].mtl:not(.filled-in) + label:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 18px;
    height: 18px;
    z-index: 0;
    border: 2px solid #aaa;
    border-radius: 1px;
    margin-top: 2px;
    transition: .2s; }
  [type="checkbox"].mtl:not(.filled-in) + label:after {
    border: 0;
    transform: scale(0); }
  [type="checkbox"].mtl:not(:checked):disabled + label:before {
    border: none;
    background-color: #ccc; }
  [type="checkbox"].mtl.tabbed:focus + label:after {
    transform: scale(1);
    border: 0;
    border-radius: 50%;
    box-shadow: 0 0 0 10px rgba(0, 0, 0, 0.1);
    background-color: rgba(0, 0, 0, 0.1); }

[type="checkbox"].mtl:checked + label:before {
  top: -4px;
  left: -5px;
  width: 12px;
  height: 22px;
  border-top: 2px solid transparent;
  border-left: 2px solid transparent;
  border-right: #50b026;
  border-bottom: #50b026;
  transform: rotate(40deg);
  backface-visibility: hidden;
  transform-origin: 100% 100%; }

[type="checkbox"].mtl:checked:disabled + label:before {
  border-right: 2px solid #ccc;
  border-bottom: 2px solid #ccc; }

/* Indeterminate checkbox */
[type="checkbox"].mtl:indeterminate + label:before {
  top: -11px;
  left: -12px;
  width: 10px;
  height: 22px;
  border-top: none;
  border-left: none;
  border-right: #50b026;
  border-bottom: none;
  transform: rotate(90deg);
  backface-visibility: hidden;
  transform-origin: 100% 100%; }

[type="checkbox"].mtl:indeterminate:disabled + label:before {
  border-right: 2px solid #ccc;
  background-color: transparent; }

[type="checkbox"].mtl.filled-in + label:after {
  border-radius: 2px; }

[type="checkbox"].mtl.filled-in + label:before,
[type="checkbox"].mtl.filled-in + label:after {
  content: '';
  left: 0;
  position: absolute;
  /* .1s delay is for check animation */
  transition: border .25s, background-color .25s, width .20s .1s, height .20s .1s, top .20s .1s, left .20s .1s;
  z-index: 1; }

[type="checkbox"].mtl.filled-in:not(:checked) + label:before {
  width: 0;
  height: 0;
  border: 3px solid transparent;
  left: 6px;
  top: 10px;
  -webkit-transform: rotateZ(37deg);
  transform: rotateZ(37deg);
  -webkit-transform-origin: 20% 40%;
  transform-origin: 100% 100%; }

[type="checkbox"].mtl.filled-in:not(:checked) + label:after {
  height: 20px;
  width: 20px;
  background-color: transparent;
  border: 2px solid #aaa;
  top: 0px;
  z-index: 0; }

[type="checkbox"].mtl.filled-in:checked + label:before {
  top: 0;
  left: 1px;
  width: 8px;
  height: 13px;
  border-top: 2px solid transparent;
  border-left: 2px solid transparent;
  border-right: 2px solid #fff;
  border-bottom: 2px solid #fff;
  -webkit-transform: rotateZ(37deg);
  transform: rotateZ(37deg);
  -webkit-transform-origin: 100% 100%;
  transform-origin: 100% 100%; }

[type="checkbox"].mtl.filled-in:checked + label:after {
  top: 0;
  width: 20px;
  height: 20px;
  border: 2px solid #50b026;
  background-color: #50b026;
  z-index: 0; }

[type="checkbox"].mtl.filled-in.tabbed:focus + label:after {
  border-radius: 2px;
  border-color: #aaa;
  background-color: rgba(0, 0, 0, 0.1); }

[type="checkbox"].mtl.filled-in.tabbed:checked:focus + label:after {
  border-radius: 2px;
  background-color: #50b026;
  border-color: #50b026; }

[type="checkbox"].mtl.filled-in:disabled:not(:checked) + label:before {
  background-color: transparent;
  border: 2px solid transparent; }

[type="checkbox"].mtl.filled-in:disabled:not(:checked) + label:after {
  border-color: transparent;
  background-color: #ccc; }

[type="checkbox"].mtl.filled-in:disabled:checked + label:before {
  background-color: transparent; }

[type="checkbox"].mtl.filled-in:disabled:checked + label:after {
  background-color: #ccc;
  border-color: #ccc; }
