.font_1 {
  font-family: "supermarketregular" !important; }

.font_2 {
  font-family: "THSarabunNewBold" !important; }

.blue_1 {
  background: #32439f; }

label.blue_1, div.title.blue_1, .list-group-item .blue_1 {
  color: #32439f;
  background: none; }

.blue_3 {
  background: #2b80b2; }

.red_1 {
  background: #ed4d4d; }

.label_danger {
  width: auto;
  display: inline-block;
  color: #fff;
  padding: 5px 10px;
  background: red;
  border-radius: 5px;
  line-height: 18px;
  font-size: 18px; }

label.red_1, i.red_1 {
  color: #ed4d4d;
  background: none; }

input.red_1 {
  color: #fff;
  background: #ed4d4d; }

.sub-label.yellow_1 {
  color: #000 !important; }

input.yellow_1 {
  color: #000;
  background: #f1c40f !important; }

.green_3 {
  background: #50b026; }

label.green_3, i.green_3 {
  color: #50b026;
  background: none; }

input.green_3 {
  color: #fff;
  background: #50b026; }

.green_2 {
  background: #176920; }

.pink_1 {
  background: #ea7363; }

label.pink_1, div.title.pink_1, .list-group-item .pink_1 {
  color: #ea7363;
  background: none; }

.violet_1 {
  background: #8864a6; }

label.violet_1, div.title.violet_1, .list-group-item .violet_1 {
  color: #8864a6;
  background: none; }

.grey_1 {
  background: #e7e7e7; }

.grey_2 {
  background: #3f414d; }

.orange_1 {
  background: #ec9552; }

.fs-inherit {
  font-size: inherit !important; }

.border {
  border: 1px solid #ddd;
  overflow: hidden;
  height: 40px; }

.alert {
  text-align: center;
  z-index: 1000;
  display: none;
  position: fixed;
  left: 50%;
  transform: translate(-50%, 30%);
  font-family: "THSarabunNewBold";
  font-size: 18px; }
  .alert .close {
    padding-left: 10px; }

html, body {
  font-family: "supermarketregular"; }

h1, h2, h3, h4, h5, h6 {
  font-family: "THSarabunNewBold"; }

.btn-color {
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/$color_1+0,$color_2+100 */
  color: #fff;
  border: none;
  background: #1c9faf;
  /* Old browsers */
  background: -moz-linear-gradient(top, #1c9faf 0%, #4153b8 100%);
  /* FF3.6-15 */
  background: -webkit-linear-gradient(top, #1c9faf 0%, #4153b8 100%);
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, #1c9faf 0%, #4153b8 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='$color_1', endColorstr='$color_2',GradientType=0 );
  /* IE6-9 */ }

.btn-color.red {
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/$color_1+0,$color_2+100 */
  color: #fff;
  border: none;
  background: #ad3a3a;
  /* Old browsers */
  background: -moz-linear-gradient(top, #ad3a3a 0%, #d62f1d 100%);
  /* FF3.6-15 */
  background: -webkit-linear-gradient(top, #ad3a3a 0%, #d62f1d 100%);
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, #ad3a3a 0%, #d62f1d 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='$color_1', endColorstr='$color_2',GradientType=0 );
  /* IE6-9 */ }

.btn-color.green {
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/$color_1+0,$color_2+100 */
  color: #fff;
  border: none;
  background: #51a416;
  /* Old browsers */
  background: -moz-linear-gradient(top, #51a416 0%, #7fd149 100%);
  /* FF3.6-15 */
  background: -webkit-linear-gradient(top, #51a416 0%, #7fd149 100%);
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, #51a416 0%, #7fd149 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='$color_1', endColorstr='$color_2',GradientType=0 );
  /* IE6-9 */ }

.btn-color.blue {
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/$color_1+0,$color_2+100 */
  color: #fff;
  border: none;
  background: #5a70e7;
  /* Old browsers */
  background: -moz-linear-gradient(top, #5a70e7 0%, #3c4eb1 100%);
  /* FF3.6-15 */
  background: -webkit-linear-gradient(top, #5a70e7 0%, #3c4eb1 100%);
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, #5a70e7 0%, #3c4eb1 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='$color_1', endColorstr='$color_2',GradientType=0 );
  /* IE6-9 */ }

.btn-color.pink {
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/$color_1+0,$color_2+100 */
  color: #fff;
  border: none;
  background: #f38a78;
  /* Old browsers */
  background: -moz-linear-gradient(top, #f38a78 0%, #dd5143 100%);
  /* FF3.6-15 */
  background: -webkit-linear-gradient(top, #f38a78 0%, #dd5143 100%);
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, #f38a78 0%, #dd5143 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='$color_1', endColorstr='$color_2',GradientType=0 );
  /* IE6-9 */ }

.btn-color.violet {
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/$color_1+0,$color_2+100 */
  color: #fff;
  border: none;
  background: #b79ec7;
  /* Old browsers */
  background: -moz-linear-gradient(top, #b79ec7 0%, #7b539d 100%);
  /* FF3.6-15 */
  background: -webkit-linear-gradient(top, #b79ec7 0%, #7b539d 100%);
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, #b79ec7 0%, #7b539d 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='$color_1', endColorstr='$color_2',GradientType=0 );
  /* IE6-9 */ }

.btn-color-vertical.blue {
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/$color_1+0,$color_2+100 */
  color: #fff;
  border: none;
  background: #5a70e7;
  /* Old browsers */
  background: -moz-linear-gradient(right, #5a70e7 0%, #3c4eb1 100%);
  /* FF3.6-15 */
  background: -webkit-linear-gradient(right, #5a70e7 0%, #3c4eb1 100%);
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to left, #5a70e7 0%, #3c4eb1 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='$color_1', endColorstr='$color_2',GradientType=0 );
  /* IE6-9 */ }

.btn-color-vertical.pink {
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/$color_1+0,$color_2+100 */
  color: #fff;
  border: none;
  background: #f38a78;
  /* Old browsers */
  background: -moz-linear-gradient(right, #f38a78 0%, #dd5143 100%);
  /* FF3.6-15 */
  background: -webkit-linear-gradient(right, #f38a78 0%, #dd5143 100%);
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to left, #f38a78 0%, #dd5143 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='$color_1', endColorstr='$color_2',GradientType=0 );
  /* IE6-9 */ }

.btn-color-vertical.violet {
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/$color_1+0,$color_2+100 */
  color: #fff;
  border: none;
  background: #b79ec7;
  /* Old browsers */
  background: -moz-linear-gradient(right, #b79ec7 0%, #7b539d 100%);
  /* FF3.6-15 */
  background: -webkit-linear-gradient(right, #b79ec7 0%, #7b539d 100%);
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to left, #b79ec7 0%, #7b539d 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='$color_1', endColorstr='$color_2',GradientType=0 );
  /* IE6-9 */ }

.btn-color-vertical.green {
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/$color_1+0,$color_2+100 */
  color: #fff;
  border: none;
  background: #5ba839;
  /* Old browsers */
  background: -moz-linear-gradient(right, #5ba839 0%, #169951 100%);
  /* FF3.6-15 */
  background: -webkit-linear-gradient(right, #5ba839 0%, #169951 100%);
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to left, #5ba839 0%, #169951 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='$color_1', endColorstr='$color_2',GradientType=0 );
  /* IE6-9 */ }

.btn-color-vertical.orange {
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/$color_1+0,$color_2+100 */
  color: #fff;
  border: none;
  background: #ecaf81;
  /* Old browsers */
  background: -moz-linear-gradient(right, #ecaf81 0%, #ec9552 100%);
  /* FF3.6-15 */
  background: -webkit-linear-gradient(right, #ecaf81 0%, #ec9552 100%);
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to left, #ecaf81 0%, #ec9552 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='$color_1', endColorstr='$color_2',GradientType=0 );
  /* IE6-9 */ }

.header-bar .btn-bar {
  text-align: right; }
  .header-bar .btn-bar .btn {
    font-family: "supermarketregular";
    width: auto;
    color: #fff;
    background: #32439f; }

.btn-bar {
  text-align: center; }
  .btn-bar .btn {
    font-family: "supermarketregular";
    margin: 15px 5px; }

.label-bar label {
  margin: 0 10px; }

.btn_big {
  font-size: 30px; }

.login .logo {
  text-align: center; }
  .login .logo img {
    max-width: 391px;
    margin-top: 200px; }

.login .form {
  margin-top: 250px;
  width: 350px; }

.login .subtitle {
  color: #32439f;
  font-size: 24px; }

header {
  background: #29402c;
  padding: 10px; }
  header .nav {
    float: right;
    text-align: right; }
    header .nav .hospital {
      color: #fff;
      font-size: 22px; }
    header .nav .logout {
      cursor: pointer; }
    header .nav .logout a, header .nav .logout i {
      color: #ed4d4d;
      font-size: 22px;
      font-style: italic; }
    header .nav .logout:hover {
      opacity: 0.7; }

.top-bar {
  margin: -15px -20px 15px;
  padding: 10px;
  color: #fff;
  font-family: "THSarabunNewBold";
  font-size: 20px; }

.list-group li:hover {
  background: rgba(23, 105, 32, 0.3); }

.header-list, li.header-list {
  background: #333;
  color: #fff; }

.header-list, li.header-list:hover {
  background: #333;
  color: #fff; }

.header-list.pink_1, li.header-list.pink_1:hover {
  background: #ea7363;
  color: #fff; }

.header-list.blue_1, li.header-list.blue_1:hover {
  background: #32439f;
  color: #fff; }

.header-list.violet_1, li.header-list.violet_1:hover {
  background: #8864a6;
  color: #fff; }

.nav-tabs > li > a.pink_1 {
  color: #ea7363; }

.nav-tabs li.active a.pink_1, .nav-tabs li.active a.pink_1:focus, .nav-tabs li.active a.pink_1:hover, .nav-tabs li.active a.pink_1:active {
  background: #ea7363 !important;
  color: #fff; }

.nav-tabs > li > a.blue_1 {
  color: #32439f; }

.nav-tabs li.active a.blue_1, .nav-tabs li.active a.blue_1:focus, .nav-tabs li.active a.blue_1:hover, .nav-tabs li.active a.blue_1:active {
  background: #32439f !important;
  color: #fff; }

.nav-tabs > li > a.violet_1 {
  color: #8864a6; }

.nav-tabs li.active a.violet_1, .nav-tabs li.active a.violet_1:focus, .nav-tabs li.active a.violet_1:hover, .nav-tabs li.active a.violet_1:active {
  background: #8864a6 !important;
  color: #fff; }

.left_bar {
  padding: 0;
  text-align: center;
  height: 100vh;
  background: #32439f; }
  .left_bar a {
    display: block;
    color: #fff; }
    .left_bar a li {
      padding: 5px;
      list-style: none; }
      .left_bar a li img {
        margin: 0 auto;
        padding: 5px 0;
        display: block; }
  .left_bar a:hover {
    opacity: 0.8; }
  .left_bar a.active li {
    background: #5671b0; }

.left_bar.bf a li {
  text-align: left;
  padding: 10px;
  padding-left: 20px; }

.content {
  padding: 15px 20px;
  height: 100vh;
  overflow: auto;
  padding-bottom: 100px; }
  .content .title {
    font-size: 30px;
    color: #32439f; }
  .content .box {
    overflow: hidden;
    font-family: "THSarabunNewBold";
    font-size: 20px;
    padding: 15px; }
    .content .box .header {
      overflow: hidden;
      color: #fff;
      padding: 10px 0;
      border-top-left-radius: 5px;
      border-top-right-radius: 5px; }
    .content .box .header.no-radius {
      border-top-right-radius: 0;
      border-top-left-radius: 0; }
    .content .box .body {
      padding: 10px;
      overflow: hidden;
      border: 1px solid #ccc; }
    .content .box .screening-history {
      height: 85px;
      overflow: hidden; }
    .content .box .cursor-bar {
      text-align: center; }
      .content .box .cursor-bar .cursor {
        z-index: 100;
        cursor: pointer;
        font-size: 24px;
        background: #ccc;
        padding: 0 10px;
        line-height: 24px; }
        .content .box .cursor-bar .cursor :hover {
          opacity: 0.7; }
    .content .box .form-inline .sub-label {
      position: absolute;
      right: 0; }
    .content .box .form-group {
      margin-bottom: 0;
      padding: 5px;
      position: relative; }
      .content .box .form-group .sub-label {
        float: right;
        text-align: right;
        line-height: 40px;
        margin-top: -40px;
        padding-right: 15px;
        color: #999;
        font-size: 22px;
        margin-bottom: 0; }
      .content .box .form-group .detail {
        font-size: 30px;
        padding-left: 10px;
        line-height: 25px; }
    .content .box .tools span, .content .box .tools label, .content .box .tools a {
      cursor: pointer;
      color: #333; }
    .content .box .question {
      line-height: 52px; }
    .content .box .question_assessment {
      border-right: 1px solid #ccc; }
    .content .box .label-input {
      line-height: 48px; }
    .content .box .score {
      text-align: center;
      font-size: 44px; }
    .content .box .assessment-result {
      text-align: center; }
      .content .box .assessment-result div {
        vertical-align: middle;
        line-height: 70px;
        font-size: 40px; }
        .content .box .assessment-result div label {
          font-size: 60px; }
    .content .box .assessment-warning {
      margin-top: 20px; }
      .content .box .assessment-warning .header {
        background: #ed4d4d; }
      .content .box .assessment-warning .list {
        text-align: left; }
      .content .box .assessment-warning .body:hover {
        background: rgba(237, 77, 77, 0.3); }
    .content .box .b_pink_1 {
      border: 1px solid #ea7363; }
    .content .box .b_violet_1 {
      border: 1px solid #8864a6; }
    .content .box .radio-btn .btn {
      width: 48%;
      float: left;
      margin: 5px 1%; }
    .content .box .radio-btn input[type="radio"] {
      display: none; }
    .content .box .radio-btn input[type="radio"] + .red {
      /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/$color_1+0,$color_2+100 */
      color: #fff;
      border: none;
      background: #ad3a3a;
      /* Old browsers */
      background: -moz-linear-gradient(top, #ad3a3a 0%, #d62f1d 100%);
      /* FF3.6-15 */
      background: -webkit-linear-gradient(top, #ad3a3a 0%, #d62f1d 100%);
      /* Chrome10-25,Safari5.1-6 */
      background: linear-gradient(to bottom, #ad3a3a 0%, #d62f1d 100%);
      /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
      filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='$color_1', endColorstr='$color_2',GradientType=0 );
      /* IE6-9 */
      opacity: 0.4; }
    .content .box .radio-btn input[type="radio"]:checked + .red {
      opacity: 1; }
    .content .box .radio-btn input[type="radio"] + .green {
      /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/$color_1+0,$color_2+100 */
      color: #fff;
      border: none;
      background: #51a416;
      /* Old browsers */
      background: -moz-linear-gradient(top, #51a416 0%, #7fd149 100%);
      /* FF3.6-15 */
      background: -webkit-linear-gradient(top, #51a416 0%, #7fd149 100%);
      /* Chrome10-25,Safari5.1-6 */
      background: linear-gradient(to bottom, #51a416 0%, #7fd149 100%);
      /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
      filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='$color_1', endColorstr='$color_2',GradientType=0 );
      /* IE6-9 */
      opacity: 0.4; }
    .content .box .radio-btn input[type="radio"]:checked + .green {
      opacity: 1; }
    .content .box .radio-sub .sub {
      display: none; }
    .content .box .radio-sub input[type="radio"]:checked + label + .sub {
      display: block; }
    .content .box .radio-grid {
      height: 28px; }
      .content .box .radio-grid label {
        margin-bottom: 0;
        margin-left: 3px; }
    .content .box thead {
      color: #fff; }
      .content .box thead th {
        padding: 10px; }
      .content .box thead th:first-child {
        border-top-left-radius: 5px; }
      .content .box thead th:last-child {
        border-top-right-radius: 5px; }
    .content .box thead.sub {
      color: #aaa; }
      .content .box thead.sub th {
        padding: 5px 10px; }
    .content .box tbody td {
      padding: 5px 10px; }
    .content .box tbody td:first-child {
      border-left: 1px solid #ccc; }
    .content .box tbody td:last-child {
      border-right: 1px solid #ccc; }
    .content .box tfoot {
      color: #fff;
      border-bottom: 1px solid #ccc;
      border-left: 1px solid #ccc;
      border-right: 1px solid #ccc; }
      .content .box tfoot td:first-child {
        border-bottom-left-radius: 5px; }
      .content .box tfoot td:last-child {
        border-bottom-right-radius: 5px; }
  .content .head-box {
    margin-bottom: 15px;
    font-family: "THSarabunNewBold"; }
    .content .head-box .title {
      font-size: 36px; }
    .content .head-box .sub {
      font-size: 18px; }
  .content .box-sub tbody {
    border: 1px solid #ccc; }
    .content .box-sub tbody td {
      vertical-align: middle; }
      .content .box-sub tbody td label {
        vertical-align: -webkit-baseline-middle; }
    .content .box-sub tbody td:first-child {
      border-right: 1px solid #ccc; }
    .content .box-sub tbody td:last-child {
      border-left: 1px solid #ccc; }
  .content .box-naf thead {
    border: 1px solid #ea7363; }
  .content .box-naf tbody {
    border-top: 1px solid #ea7363;
    border-left: 1px solid #ea7363;
    border-right: 1px solid #ea7363; }
  .content .box-naf td.score {
    border-left: 1px solid #ea7363;
    color: #ea7363; }
  .content .box-nt thead {
    border: 1px solid #8864a6; }
  .content .box-nt tbody {
    border-top: 1px solid #8864a6;
    border-left: 1px solid #8864a6;
    border-right: 1px solid #8864a6; }
  .content .box-nt td.score {
    border-left: 1px solid #8864a6;
    color: #8864a6; }
  .content .table {
    font-family: "THSarabunNewBold";
    font-size: 18px; }
  .content .report_box {
    border: 1px solid #ccc;
    overflow: hidden;
    margin-bottom: 20px; }
    .content .report_box .title {
      font-size: 24px;
      margin-top: 0;
      color: #333; }
    .content .report_box .label_text {
      font-size: 24px;
      font-family: "THSarabunNewBold";
      margin: 20px 0 10px; }
      .content .report_box .label_text i {
        font-size: 20px; }
    .content .report_box .period_box {
      text-align: right; }

.regis-form {
  font-family: "THSarabunNewBold"; }
  .regis-form .form-group label {
    font-size: 22px; }
  .regis-form .form-group .form-control {
    margin-bottom: 10px; }

.patient .well:first-child {
  margin-top: 20px; }

.patient .well {
  font-size: 22px;
  border-color: #ccc;
  box-shadow: 5px 5px 20px #ccc;
  color: #333; }
  .patient .well .sub {
    padding-left: 10px;
    font-size: 18px;
    font-weight: normal; }
    .patient .well .sub span::before {
      width: 7px;
      height: 7px;
      font-size: 7px;
      padding-right: 7px;
      margin-right: 7px;
      content: "\00a0";
      border-radius: 50%;
      vertical-align: middle; }

.patient .well:hover {
  opacity: 0.8;
  cursor: pointer; }

.patient .well-color.red {
  border-left: 10px solid #ff1919; }
  .patient .well-color.red span::before {
    background: #ff1919; }

.patient .well-color.green {
  border-left: 10px solid #50b026; }
  .patient .well-color.green span::before {
    background: #50b026; }

.patient .well-color.orange {
  border-left: 10px solid #ff8519; }
  .patient .well-color.orange span::before {
    background: #ff8519; }

.information .well:first-child {
  margin-top: 20px; }

.information .well {
  font-size: 22px;
  border-color: #ccc;
  box-shadow: 5px 5px 20px #ccc;
  color: #fff; }

.information .well:hover {
  opacity: 0.8;
  cursor: pointer; }

.information .box tbody td {
  border-top: 1px solid #ccc;
  border-left: 1px solid #ccc;
  border-right: 1px solid #ccc;
  border-bottom: 1px solid #ccc; }

.information .well-sub {
  font-size: 18px;
  color: #333;
  padding: 10px 15px;
  margin: 5px 0px; }

.circle {
  width: 15px;
  height: 15px;
  background: #333;
  border-radius: 50%;
  vertical-align: middle; }

.export label {
  font-family: monospace;
  font-size: 18px;
  font-weight: normal;
  color: #32439f; }

.export i {
  font-size: 20px; }

.export #demo, .export label {
  position: absolute; }

.export .sub {
  margin-left: 20px;
  margin-top: -10px;
  font-size: 10px;
  color: red;
  background: #000; }

.export pre {
  opacity: 0.7;
  right: 5px;
  top: 50px; }

.export #cmd {
  position: fixed;
  width: 150px;
  height: 150px;
  border-radius: 50%;
  top: 20px;
  right: 20px; }

@media screen and (max-width: 768px) {
  .fs-inherit {
    font-size: 40px !important; }
  .login .logo {
    text-align: center; }
    .login .logo img {
      max-width: 300px;
      margin-top: 70px; }
  .login .form {
    margin-top: 20px;
    width: 100%; }
  .login .subtitle {
    color: #32439f;
    font-size: 24px; }
  .top-bar {
    margin: -15px -15px 15px;
    padding: 10px 0;
    color: #fff;
    font-family: "THSarabunNewBold";
    font-size: 20px; }
  .content {
    height: auto;
    overflow: inherit;
    padding: 15px;
    padding-bottom: 0; }
    .content .box .question {
      margin-top: 10px;
      line-height: 32px; }
    .content .box .body {
      padding: 10px 0; }
    .content .box .radio-grid {
      height: auto; }
      .content .box .radio-grid label {
        margin-bottom: 0;
        margin-left: 3px; }
    .content .box .form-group .sub-label {
      font-size: 16px; }
    .content .box .assessment-result {
      text-align: center; }
      .content .box .assessment-result div {
        vertical-align: middle;
        line-height: 70px;
        font-size: 40px; }
        .content .box .assessment-result div label {
          font-size: 40px; }
    .content .box .screening-history {
      height: auto; }
    .content .head-box {
      margin-bottom: 15px;
      font-family: "THSarabunNewBold"; }
      .content .head-box .title {
        font-size: 24px; }
      .content .head-box .sub {
        font-size: 14px; }
    .content .report_box .head {
      font-size: 24px; }
    .content .report_box .period_box .form-control {
      display: inline-block;
      width: auto;
      vertical-align: middle; }
    .content .report_box .label_text {
      font-size: 20px;
      font-family: "THSarabunNewBold";
      margin: 0px 0 10px; }
      .content .report_box .label_text i {
        font-size: 18px; }
  .header-mobile {
    background: #fff; }
    .header-mobile .menu {
      color: #32439f;
      font-size: 24px;
      cursor: pointer; }
    .header-mobile .nav .hospital {
      color: #333;
      font-size: 20px;
      line-height: 36px; }
    .header-mobile .menu-sub {
      position: fixed;
      top: 0;
      z-index: 100;
      background: #f2f2f2;
      list-style: none; }
      .header-mobile .menu-sub a {
        padding: 10px;
        border-bottom: 1px solid #333; }
        .header-mobile .menu-sub a .title {
          font-size: 22px;
          color: #32439f; }
  .alert {
    width: 90%; } }
