a{
	color: #fff;
}
a.link,span.link,label.link{
	color: #333;
	cursor: pointer;
}
a:hover,a:active,a:focus{
	text-decoration: none;
	// color: #fff;
	opacity: 0.5;
}

.nav-tabs>li>a{
	font-size: 18px;
	color: #333;
	background: none !important;
}

.nav-tabs>li>a:hover,.nav-tabs>li>a:active,.nav-tabs>li>a:focus{
	opacity: 1;
}

.nav-tabs li.active a,.nav-tabs li.active a:focus, .nav-tabs li.active a:hover, .nav-tabs li.active a:active{
	font-size: 18px;
	text-decoration: underline;
	background: #333;
	color: #fff;
}

.no-js #loader { display: none;  }
.js #loader { display: block; position: absolute; left: 100px; top: 0; }
.se-pre-con {
	display: none;
	position: fixed;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 100%;
	z-index: 9999;
	background: url(../images/Preloader_2.gif) center no-repeat #fff;
}

.btn{
	font-size: 18px;
}
.form-control{
	font-size: 18px;
	height: 38px;
}

.table>thead>tr>th {
    border-bottom: none;
}

.table tbody{
	border-left: 1px solid #ccc;
	border-right: 1px solid #ccc;
}

.table tbody tr:last-child{
	border-bottom: 1px solid #ccc;
}

.table-none-border>tbody>tr>td, .table-none-border>tbody>tr>th, .table-none-border>tfoot>tr>td, .table-none-border>tfoot>tr>th, .table-none-border>thead>tr>td, .table-none-border>thead>tr>th{
	border-top: none;
}

.table-form>tbody>tr>td, .table-form>tbody>tr>th, .table-form>tfoot>tr>td, .table-form>tfoot>tr>th, .table-form>thead>tr>td, .table-form>thead>tr>th{
	border: none;
}

.table-form tbody{
	border-left: none;
	border-right: none;
	tr:last-child{
		border-bottom: none;
	}
}

.table-border>tbody>tr>td, .table-border>tbody>tr>th, .table-border>tfoot>tr>td, .table-border>tfoot>tr>th, .table-border>thead>tr>td, .table-border>thead>tr>th{
	border: 1px solid #ccc;
}


.table-fixed{
	table-layout: fixed;
}

.sub-table{
	margin:0; 
	overflow:scroll;
	.table-border > tbody > tr > td, .table-border > tbody > tr > th, .table-border > tfoot > tr > td, .table-border > tfoot > tr > th, .table-border > thead > tr > td, .table-border > thead > tr > th{
		border-top: none;
	}
	table{
		margin-bottom: 0;
		th,td{
			text-align: center;
		}
	}
}

$radio-border: #50b026;
$radio-fill-color: #50b026;
$radio-empty-color: #aaa;
$input-disabled-color: #ccc;
$input-disabled-solid-color: #ccc;
@import "forms/_radio-buttons.scss";

$input-background: #fff;
$secondary-color: #50b026;
@import "forms/_checkboxes.scss";
