$blue_1: #32439f;
$blue_2: #5671b0;
$blue_3: #2b80b2;
$green_1: #29402c;
$green_2: #176920;
$green_3: #50b026;
$red_1: #ed4d4d;
$pink_1: #ea7363;
$pink_2: #f45241;
$violet_1: #8864a6;
$grey_1: #e7e7e7;
$grey_2: #3f414d;

$yellow_1: #f1c40f;
$orange_1: #ec9552;

$font_1: 'supermarketregular';
$font_2: 'THSarabunNewBold';

.font_1{
	font-family: $font_1 !important;
}
.font_2{
	font-family: $font_2 !important
}

.blue_1{
	background: $blue_1;
}

label.blue_1,div.title.blue_1,.list-group-item .blue_1{
	color: $blue_1;
	background: none;
}
.blue_3{
	background: $blue_3;
}
.red_1{
	background: $red_1;
}
.label_danger{
	width: auto;
	display: inline-block;
	color: #fff;
	padding: 5px 10px;
	background: red;
	border-radius: 5px;
	line-height: 18px;
	font-size: 18px;
}
label.red_1,i.red_1{
	color: $red_1;
	background: none;
}
input.red_1{
	color: #fff;
	background: $red_1;
}
.sub-label.yellow_1{
	color: #000 !important;
}
input.yellow_1{
	color: #000;
	background: $yellow_1 !important;
}
.green_3{
	background: $green_3;
}
label.green_3,i.green_3{
	color: $green_3;
	background: none;
}
input.green_3{
	color: #fff;
	background: $green_3;
}
.green_2{
	background: $green_2;
}
.pink_1{
	background: $pink_1;
}
label.pink_1,div.title.pink_1,.list-group-item .pink_1{
	color: $pink_1;
	background: none;
}
.violet_1{
	background: $violet_1;
}
label.violet_1,div.title.violet_1,.list-group-item .violet_1{
	color: $violet_1;
	background: none;
}
.grey_1{
	background: $grey_1;
}
.grey_2{
	background: $grey_2;
}
.orange_1{
	background: $orange_1;
}
.fs-inherit{
	font-size: inherit !important;
}
.border{
	border: 1px solid #ddd;
	overflow: hidden;
	height: 40px;
}
.alert{
	text-align: center;
	z-index: 1000;
	display: none;
	position: fixed;
	left: 50%;
	transform: translate(-50%,30%);
	font-family: $font_2;
	font-size: 18px;
	.close{
		padding-left: 10px;
	}
}

html,body{
	font-family: $font_1;
}
h1,h2,h3,h4,h5,h6{
	font-family: $font_2;
}

@mixin btn-color($color_1: #1c9faf,$color_2: #4153b8){
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/$color_1+0,$color_2+100 */
	color: #fff;
	border: none;
	background: $color_1; /* Old browsers */
	background: -moz-linear-gradient(top, $color_1 0%, $color_2 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top, $color_1 0%,$color_2 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom, $color_1 0%,$color_2 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='$color_1', endColorstr='$color_2',GradientType=0 ); /* IE6-9 */
}
@mixin btn-color-vertical($color_1: #1c9faf,$color_2: #4153b8){
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/$color_1+0,$color_2+100 */
	color: #fff;
	border: none;
	background: $color_1; /* Old browsers */
	background: -moz-linear-gradient(right, $color_1 0%, $color_2 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(right, $color_1 0%,$color_2 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to left, $color_1 0%,$color_2 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='$color_1', endColorstr='$color_2',GradientType=0 ); /* IE6-9 */
}
.btn-color{
	@include btn-color();
}
.btn-color.red{
	@include btn-color(#ad3a3a,#d62f1d);
}
.btn-color.green{
	@include btn-color(#51a416,#7fd149);
}
.btn-color.blue{
	@include btn-color(#5a70e7,#3c4eb1);
}
.btn-color.pink{
	@include btn-color(#f38a78,#dd5143);
}
.btn-color.violet{
	@include btn-color(#b79ec7,#7b539d);
}
.btn-color-vertical.blue{
	@include btn-color-vertical(#5a70e7,#3c4eb1);
}
.btn-color-vertical.pink{
	@include btn-color-vertical(#f38a78,#dd5143);
}
.btn-color-vertical.violet{
	@include btn-color-vertical(#b79ec7,#7b539d);
}
.btn-color-vertical.green{
	@include btn-color-vertical(#5ba839,#169951);
}
.btn-color-vertical.orange{
	@include btn-color-vertical(#ecaf81,#ec9552);
}

.header-bar .btn-bar{
	text-align: right;
	.btn{
		font-family: $font_1;
		width: auto;
		color: #fff;
		background: $blue_1;
	}
}

.btn-bar{
	text-align: center;
	.btn{
		font-family: $font_1;
		margin: 15px 5px;
	}
}

.label-bar{
	label{
		margin: 0 10px;
	}
}

.btn_big{
	font-size: 30px;
}

.login{
	.logo{
		text-align: center;
		img{
			max-width: 391px;
			margin-top: 200px;
			// width: 100%;
		}
	}
	.form{
		margin-top: 250px;
		width: 350px;
	}
	.subtitle{
		color: $blue_1;
		font-size: 24px;
	}
}

header{
	background: $green_1;
	padding: 10px;
	.nav{
		float: right;
		text-align: right;
		.hospital{
			color: #fff;
			font-size: 22px;
		}
		.logout{
			cursor: pointer;
		}
		.logout a,.logout i{
			color: $red_1;
			font-size: 22px;
			font-style: italic;
		}
		.logout:hover{
			opacity: 0.7;
		}
	}
}

.top-bar{
	margin: -15px -20px 15px;
	padding: 10px;
	color: #fff;
	font-family: $font_2;
	font-size: 20px;
}

.list-group{
	li:hover{
		background: rgba(23, 105, 32,0.3);
	}
}
.header-list,li.header-list{
	background: #333;
	color: #fff;
}
.header-list,li.header-list:hover{
	background: #333;
	color: #fff;
}
.header-list.pink_1,li.header-list.pink_1:hover{
	background: $pink_1;
	color: #fff;
}
.header-list.blue_1,li.header-list.blue_1:hover{
	background: $blue_1;
	color: #fff;
}
.header-list.violet_1,li.header-list.violet_1:hover{
	background: $violet_1;
	color: #fff;
}

.nav-tabs>li>a.pink_1{
	color: $pink_1;
}
.nav-tabs li.active a.pink_1,.nav-tabs li.active a.pink_1:focus, .nav-tabs li.active a.pink_1:hover, .nav-tabs li.active a.pink_1:active{
	background: $pink_1 !important;
	color: #fff;
}
.nav-tabs>li>a.blue_1{
	color: $blue_1;
}
.nav-tabs li.active a.blue_1,.nav-tabs li.active a.blue_1:focus, .nav-tabs li.active a.blue_1:hover, .nav-tabs li.active a.blue_1:active{
	background: $blue_1 !important;
	color: #fff;
}
.nav-tabs>li>a.violet_1{
	color: $violet_1;
}
.nav-tabs li.active a.violet_1,.nav-tabs li.active a.violet_1:focus, .nav-tabs li.active a.violet_1:hover, .nav-tabs li.active a.violet_1:active{
	background: $violet_1 !important;
	color: #fff;
}


.left_bar{
	padding: 0;
	text-align: center;
	height: 100vh;
	background: $blue_1;
	a{
		display: block;
		color: #fff;
		li{
			padding: 5px;
			list-style: none;
			img{
				margin: 0 auto;
				padding: 5px 0;
				display: block;
			}
		}	
	}
	a:hover{
		opacity: 0.8;
	}
	a.active{
		li{
			background: $blue_2;
		}
	}
}
.left_bar.bf{
	a li{
		text-align: left;
		padding: 10px;
		padding-left: 20px;
	}
}

.content{
	padding: 15px 20px;
	height: 100vh;
    overflow: auto;
    padding-bottom: 100px;
	.title{
		font-size: 30px;
		color: $blue_1;
	}
	.box{
		overflow: hidden;
		font-family: $font_2;
		font-size: 20px;
		padding: 15px;
		.header{
			overflow: hidden;
			color: #fff;
			padding: 10px 0;
			border-top-left-radius: 5px;
			border-top-right-radius: 5px;
		}
		.header.no-radius{
			border-top-right-radius: 0;
			border-top-left-radius: 0;
		}
		.body{
			padding: 10px;
			overflow: hidden;
			border: 1px solid #ccc;
		}
		.screening-history{
			height: 85px;
			overflow: hidden;
			// transition: 1s;
		}
		.cursor-bar{
			text-align: center;
			.cursor{
				z-index: 100;
				cursor: pointer;
				font-size: 24px;
				background: #ccc;
				padding: 0 10px;
				line-height: 24px;
				:hover{
					opacity: 0.7;
				}
			}
		}
		.form-inline{
			.sub-label{
				// width: 10%;
				position: absolute;
				right: 0;
			}
		}
		.form-group{
			margin-bottom: 0;
			padding: 5px;
			position: relative;
			.sub-label{
				float: right;
				// width: 25%;
				text-align: right;
				line-height: 40px;
				margin-top: -40px;
				padding-right: 15px;
				color: #999;
				font-size: 22px;
				margin-bottom: 0;
			}
			.detail{
				font-size: 30px;
				padding-left: 10px;
				line-height: 25px;
			}
		}
		.tools{
			span,label,a{
				cursor: pointer;
				color: #333;
			}
		}
		.question{
			line-height: 52px;
		}
		.question_assessment{
			border-right: 1px solid #ccc;
		}
		.label-input{
			line-height: 48px;
		}
		.score{
			text-align: center;
			font-size: 44px;
		}
		.assessment-result{
			text-align: center;
			div{
				vertical-align: middle;
				line-height: 70px;
				font-size: 40px;
				label{
					font-size: 60px;
				}
			}
		}
		.assessment-warning{
			margin-top: 20px;
			.header{
				background: $red_1;
			}
			.list{
				text-align: left;
			}
			.body:hover{
				background: rgba(237, 77, 77,0.3);
			}
		}
		.b_pink_1{
			border: 1px solid $pink_1;
		}
		.b_violet_1{
			border: 1px solid $violet_1;
		}
		.radio-btn{
			.btn{
				width: 48%;
				float: left;
				margin: 5px 1%;
			}
			input[type="radio"]{
				display: none;
			}
			input[type="radio"]+ .red {
				@include btn-color(#ad3a3a,#d62f1d);
				opacity: 0.4;
			}
			input[type="radio"]:checked + .red {
				opacity: 1;
			}
			input[type="radio"]+ .green {
				@include btn-color(#51a416,#7fd149);
				opacity: 0.4;
			}
			input[type="radio"]:checked + .green {
				opacity: 1;
			}
		}
		.radio-sub{
			.sub{
				display: none;
			}
			input[type="radio"]:checked + label +.sub {
				display: block;
			}
		}
		.radio-grid{
			height: 28px;
			label{
				margin-bottom: 0;
				margin-left: 3px;
			}
		}
		thead{
			color: #fff;
			th{
				padding: 10px;
			}
			th:first-child{
				border-top-left-radius: 5px;
			}
			th:last-child{
				border-top-right-radius: 5px;
			}
		}
		thead.sub{
			color: #aaa;
			th{
				padding: 5px 10px;
			}
		}
		tbody{
			td{
				padding: 5px 10px;
			}
			td:first-child{
				border-left: 1px solid #ccc;
			}
			td:last-child{
				border-right: 1px solid #ccc;
			}
			
		}
		tfoot{
			color: #fff;
			border-bottom: 1px solid #ccc;
			border-left: 1px solid #ccc;
			border-right: 1px solid #ccc;
			td:first-child{
				border-bottom-left-radius: 5px;
			}
			td:last-child{
				border-bottom-right-radius: 5px;
			}
		}
	}
	.head-box{
		margin-bottom: 15px;
		font-family: $font_2;
		.title{
			font-size: 36px;
		}
		.sub{
			font-size: 18px;
		}
	}
	.box-sub{
		tbody{
			border: 1px solid #ccc;
			td{
				vertical-align: middle;
				label{
					vertical-align: -webkit-baseline-middle;
				}
			}
			td:first-child{
				border-right: 1px solid #ccc;
			}
			td:last-child{
				border-left: 1px solid #ccc;
			}
		}
	}
	.box-naf{
		thead{
			border: 1px solid $pink_1;
		}
		tbody{
			border-top: 1px solid $pink_1;
			border-left: 1px solid $pink_1;
			border-right: 1px solid $pink_1;
		}
		td.score{
			border-left: 1px solid $pink_1;
			color: $pink_1;
		}
	}
	.box-nt{
		thead{
			border: 1px solid $violet_1;
		}
		tbody{
			border-top: 1px solid $violet_1;
			border-left: 1px solid $violet_1;
			border-right: 1px solid $violet_1;
		}
		td.score{
			border-left: 1px solid $violet_1;
			color: $violet_1;
		}
	}
	.table{
		font-family: $font_2;
		font-size: 18px;
	}
	.report_box{
		border: 1px solid #ccc;
		overflow: hidden;
		margin-bottom: 20px;
		.title{
			font-size: 24px;
			margin-top: 0;
			color: #333;
		}
		.label_text{
			font-size: 24px;
			font-family: $font_2;
			margin: 20px 0 10px;
			i{
				font-size: 20px;
			}
		}
		.period_box{
			text-align: right;
		}
	}
}

.regis-form{
	font-family: $font_2;
	.form-group{
		label{
			font-size: 22px;
		}
		.form-control{
			margin-bottom: 10px;
		}
	}
}

.patient{
	.well:first-child{
		margin-top: 20px;
	}
	.well{
		font-size: 22px;
		border-color: #ccc;
		box-shadow: 5px 5px 20px #ccc;
		color: #333;
		.sub{
			padding-left: 10px;
			font-size: 18px;
			font-weight: normal;
			span::before{
				width: 7px;
				height: 7px;
				font-size: 7px;
				padding-right: 7px;
				margin-right: 7px;
				content: "\00a0";
				border-radius: 50%;
				vertical-align: middle;
			}
		}
	}
	.well:hover{
		opacity: 0.8;
		cursor: pointer;
	}
	.well-color.red{
		border-left: 10px solid #ff1919;
		span::before{
			background: #ff1919;
		}
	}
	.well-color.green{
		border-left: 10px solid #50b026;
		span::before{
			background: #50b026;
		}
	}
	.well-color.orange{
		border-left: 10px solid #ff8519;
		span::before{
			background: #ff8519;
		}
	}
}

.information{
	.well:first-child{
		margin-top: 20px;
	}
	.well{
		font-size: 22px;
		border-color: #ccc;
		box-shadow: 5px 5px 20px #ccc;
		color: #fff;
	}
	.well:hover{
		opacity: 0.8;
		cursor: pointer;
	}
	.box{
		tbody td{
			border-top: 1px solid #ccc;
			border-left: 1px solid #ccc;
			border-right: 1px solid #ccc;
			border-bottom: 1px solid #ccc;
		}
	}
	.well-sub{
		font-size: 18px;
		color: #333;
		padding: 10px 15px;
		margin: 5px 0px;
	}
}

.circle{
	width: 15px;
	height: 15px;
	background: #333;
	border-radius: 50%;
	vertical-align: middle;
}

.export{
	label{
		font-family: monospace;
		font-size: 18px;
		font-weight: normal;
		color: $blue_1;
	}
	i{
		font-size: 20px;
	}
	#demo,label{
		position: absolute;
		// background: rgba(0, 0, 0, 0.3);
	}
	.sub{
		margin-left: 20px;
		margin-top: -10px;
		font-size: 10px;
		color: red;
		background: #000;
	}
	pre{
		opacity: 0.7;
		// position: fixed;
		right: 5px;
		top: 50px;
	}	
	#cmd{
		position: fixed;
		width: 150px;
		height: 150px;
		border-radius: 50%;
		top: 20px;
		right: 20px;
	}
}

@media screen and (max-width: 768px) {

.fs-inherit{
	font-size: 40px !important;
}

.login{
	.logo{
		text-align: center;
		img{
			max-width: 300px;
			margin-top: 70px;
		}
	}
	.form{
		margin-top: 20px;
		width: 100%;
	}
	.subtitle{
		color: $blue_1;
		font-size: 24px;
	}
}
.top-bar{
	margin: -15px -15px 15px;
	padding: 10px 0;
	color: #fff;
	font-family: $font_2;
	font-size: 20px;
}

.content{
	height: auto;
	overflow: inherit;
	padding: 15px;
    padding-bottom: 0;
	.box{
		.question{
			margin-top: 10px;
			line-height: 32px;
		}
		.body{
			padding: 10px 0;
		}
		.radio-grid{
			height: auto;
			label{
				margin-bottom: 0;
				margin-left: 3px;
			}
		}
		.form-group{
			.sub-label{
				font-size: 16px;
			}
		}
		.assessment-result{
			text-align: center;
			div{
				vertical-align: middle;
				line-height: 70px;
				font-size: 40px;
				label{
					font-size: 40px;
				}
			}
		}
		.screening-history{
			height: auto;
		}
	}
	.head-box{
		margin-bottom: 15px;
		font-family: $font_2;
		.title{
			font-size: 24px;
		}
		.sub{
			font-size: 14px;
		}
	}
	.report_box{
		.head{
			font-size: 24px;
		}
		.period_box{
			.form-control{
			    display: inline-block;
			    width: auto;
			    vertical-align: middle;
			}
		}
		.label_text{
			font-size: 20px;
			font-family: $font_2;
			margin: 0px 0 10px;
			i{
				font-size: 18px;
			}
		}
	}
}

.header-mobile{
	background: #fff;
	.menu{
		color: $blue_1;
		font-size: 24px;
		cursor: pointer;
	}
	.nav .hospital{
		color: #333;
		font-size: 20px;
		line-height: 36px;
	}

	.menu-sub{
		position: fixed;
		top: 0;
		z-index: 100;
		background: #f2f2f2;
		list-style: none;
		a{
			padding: 10px;
			border-bottom: 1px solid #333;
			.title{
				font-size: 22px;
				color: $blue_1;
			}
		}
		
	}
}

.alert{
	width: 90%;
}

}
