/* Radio Buttons
   ========================================================================== */

// Remove default Radio Buttons
[type="radio"].mtl:not(:checked),
[type="radio"].mtl:checked {
  position: absolute;
  left: -9999px;
  width: 0;
  height: 0;
  opacity: 0;
}

[type="radio"].mtl:not(:checked) + label,
[type="radio"].mtl:checked + label {
  position: relative;
  padding-left: 25px;
  cursor: pointer;
  display: inline-block;
  height: 25px;
  line-height: 25px;
  transition: .28s ease;

  -khtml-user-select: none; /* webkit (konqueror) browsers */
  user-select: none;
}

[type="radio"].mtl + label:before,
[type="radio"].mtl + label:after {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  margin: 4px;
  width: 16px;
  height: 16px;
  z-index: 0;
  transition: .28s ease;
}

/* Unchecked styles */
[type="radio"].mtl:not(:checked) + label:before,
[type="radio"].mtl:not(:checked) + label:after,
[type="radio"].mtl:checked + label:before,
[type="radio"].mtl:checked + label:after,
[type="radio"].mtl.with-gap:checked + label:before,
[type="radio"].mtl.with-gap:checked + label:after {
  border-radius: 50%;
}

[type="radio"].mtl:not(:checked) + label:before,
[type="radio"].mtl:not(:checked) + label:after {
  border: 2px solid $radio-empty-color;
}

[type="radio"].mtl:not(:checked) + label:after {
  transform: scale(0);
}

/* Checked styles */
[type="radio"].mtl:checked + label:before {
  border: 2px solid transparent;
}

[type="radio"].mtl:checked + label:after,
[type="radio"].mtl.with-gap:checked + label:before,
[type="radio"].mtl.with-gap:checked + label:after {
  border: 2px solid $radio-border;
}

[type="radio"].mtl:checked + label:after,
[type="radio"].mtl.with-gap:checked + label:after {
  background-color: $radio-fill-color;
}

[type="radio"].mtl:checked + label:after {
  transform: scale(1.02);
}

/* Radio With gap */
[type="radio"].mtl.with-gap:checked + label:after {
  transform: scale(.5);
}

/* Focused styles */
[type="radio"].mtl.tabbed:focus + label:before {
  box-shadow: 0 0 0 10px rgba(0,0,0,.1);
}

/* Disabled Radio With gap */
[type="radio"].mtl.with-gap:disabled:checked + label:before {
  border: 2px solid $input-disabled-color;
}

[type="radio"].mtl.with-gap:disabled:checked + label:after {
  border: none;
  background-color: $input-disabled-color;
}

/* Disabled style */
[type="radio"].mtl:disabled:not(:checked) + label:before,
[type="radio"].mtl:disabled:checked + label:before {
  background-color: transparent;
  border-color: $input-disabled-color;
}

[type="radio"].mtl:disabled + label {
  color: $input-disabled-color;
}

[type="radio"].mtl:disabled:not(:checked) + label:before {
  border-color: $input-disabled-color;
}

[type="radio"].mtl:disabled:checked + label:after {
  background-color: $input-disabled-color;
  border-color: $input-disabled-solid-color;
}
